$primary: #C4C4C4;

:root {
  // spacing
  --full-heigth: calc(100vh - 100px);
  --space: 25px;
  --marge-sm: calc(var(--space) * 2);
  --marge: calc(var(--space) * 4);

  // colors
  --background-dark: #383737;
  --background-light: #C4C4C4;
  --background-yellow: #FFFCDE;

  --red: #e10d0d;
  --red-filter: brightness(0) saturate(100%) invert(15%) sepia(97%) saturate(7467%) hue-rotate(21deg) brightness(98%) contrast(114%);
}